<?xml version="1.0" encoding="UTF-8"?>
<config>
    <var name="git" default="git"/>
    <files>
        <echo>
            <![CDATA[<%
            $version="Templater engine (C) by Ksnk (sergekoriakin@gmail.com).\n     based on Jinja2 sintax";
            $license="License MIT - Serge Koriakin - Jule 2010-2012";
            // get the last tag from output
            $output=array();
            $tag = exec($git." describe --tags", $output);
            //preprocessor::log(2,'',$tag."\n");
            // get a last string from output
            $output=array();
            $git_url = exec($git." remote -v", $output);
            // get all output & filter him
            $output=array();    exec($git." status -uno -s", $output); $output =implode("\n",$output);
            $status='';
            if(""!=(trim($modified=preg_replace("#\n+#","\n",preg_replace('#^.*?build/.*?$#m','',$output))))){
                preprocessor::log(2,'"'.$modified."\"\n");
                if(preg_match('#src/\w#',$output))
                    $status="status : draft build.\n";
            };
            $buildtime=date('ymdHi'); POINT::inline('hat',
'----------------------------------------------------------------------------
$Id: '.$version.',
ver: '.$tag.', Last build: '.$buildtime.'
'.$status.'GIT: '.$git_url.'$
----------------------------------------------------------------------------
'.$license.'
----------------------------------------------------------------------------') ;
%>]]>
        </echo>
    </files>
    <!-- ************************************** -->
    <!-- **** documentation                **** -->
    <!-- ************************************** -->
    <files dstdir="build">
        <file>history.txt</file>
        <echo name="history.txt"  depend="history.txt">
            <![CDATA[<%=POINT::get('history','markdown-txt');%>]]>
        </echo>
        <echo name="readme.html" depend="readme.markdown">
            <![CDATA[<% echo '<!DOCTYPE html><html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head><body>'
           .POINT::get('readme','markdown-html').'</body></html>';%>]]>
        </echo>
        <echo name="readme.txt" depend="readme.markdown">
            <![CDATA[<%=POINT::get('readme','markdown-txt');%>]]>
        </echo>
    </files>

	<!-- ************************************** -->
	<!-- **** core files                   **** -->
	<!-- ************************************** -->
    <files dstdir="build/lib">
        <file>template_parser.class.php</file>
        <file>compiler.class.php</file>
        <file>compiler.php.php</file>
        <file dir="../nat2php">nat2php.class.php</file>
    </files>
	<files dstdir="build/render">
        <file dir="templates">tpl_base.php</file>
        <file dir="templates">tpl_compiler.php</file>
        <file dir="templates">compiler.jtpl</file>
	</files>
    <files dstdir="build/samples">
        <file dir="sample">index.php</file>
        <file dir="sample">render.php</file>
    </files>
    <files dstdir="build/samples/templates">
        <file dir="sample/templates">*.jtpl</file>
        <file dir="templates">tpl_base.php</file>
        <file dir="templates">tpl_compiler.php</file>
    </files>

</config>